.cabecalho {
    width: 22.5%;
    height: 100%;
    background: var(--preto-escuro);
    font-family: var(--fonte-tipo-dois);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.cabecalho__separa {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 25px 15px 15px 15px;
}

.link__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.podpato_logo {
    width: 80%;
    cursor: pointer;
}

.navegacao--configs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
}
.navegacao {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 50px;
}

.navegacao__lista {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
}
.navegacao--configs .fas {
    margin-right: 15px;
}
.navegacao--configs .navegacao__item:nth-child(2) .fas {
    margin-right: 10px;
}
.navegacao--configs .navegacao__item:nth-child(4) .fas {
    margin-left: 2.5px;
    margin-right: 17.5px;
}
.navegacao--configs .fa-chevron-down {
    margin-left: 3px;
    transform: rotate(180deg);
}
.navegacao__item {
    opacity: 0.5;
    transition: 0.25s transform, 0.25s opacity;
}
.navegacao__item.ativo, .navegacao__item.ativo:hover {
    opacity: 1;
}
.navegacao__item:hover {
    opacity: 0.75;
    transform: translateY(-3px);
}
.navegacao__link, .botao-configs {
    text-decoration: none;
    color: var(--branco-diferenciado);
    font-size: 20px;
}
.botao-configs .fa-cog:nth-child(2) {
    display: none;
}
.botao-configs:hover .fa-cog:nth-child(1) {
    display: none;
}
.botao-configs:hover .fa-cog:nth-child(2) {
    display: inline-block;
}
.navegacao__link:hover, .botao-configs:hover {
    color: var(--branco-diferenciado);
}
.configs {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
