footer h3 {
    margin: 0;
}
.fa-youtube {
    margin-right: 5px;
    color: red;
}
footer a, footer a:hover {
    text-decoration: none;
    color: #000000;
}

.rodape {
    height: 50px;
    background-color: var(--verde-principal);
    color: black;
    font-family: var(--fonte-tipo-dois);
    margin-top: 75px;
    display: flex;
    align-items: center;
}
.rodape__separa {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rodape__credito {
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.rodape__credito-separa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
}
.rodape__site-separa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
}
.rodape__credito-creditos, .rodape__site-site {
    font-size: 17.5px;
}
.rodape__credito-titulo, .rodape__site-titulo {
    font-size: 20px;
}
.rodape__site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.rodape__site-imagem {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}