:root {
    --fonte-titulo: "Oswald", sans-serif;

    --branco-diferenciado: #E8E8E8;
    --preto-diferenciado: #2D2D2D;
    --preto-escuro: #1C1B1E;

    --vermelho-escuro: #b70037;
    --vermelho-claro: #e1003d;
    --rosinha-nem-claro-nem-escuro: #FF1655;
}