:root {
    --fonte-tipo-um: 'Gayathri', sans-serif;
    --fonte-tipo-dois: 'Sansita', sans-serif;

    --amarelo-principal: #FCFF6A;
    --amarelo-principal-escuro: #F0F350;
    --preto-diferenciado: #2D2D2D;
    --branco-diferenciado: #FBFBFB;
    --verde-principal: #4EC275;
    --verde-principal-escuro: #53B274;
}