.nao-aparece {
    display: none !important;
}


main {
    margin: 10px 5% 60px 3%;

}



.cabecalho {
    font-family: var(--fonte-titulo);
}

.sobre {
    margin-left: 5vw;
}

.sobre__titulo{
    font-family: var(--fonte-titulo);
    color: var(--branco-diferenciado);
    font-size: 36px;
    margin: 50px 0;
}

.sobre__texto {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--branco-diferenciado);
    font-weight: 500;
    margin: 10px 15px;
    font-size: 18px;
    line-height: 35px;
}

.sobre__subtitulo {
    color: var(--rosinha-nem-claro-nem-escuro);
    font-weight: 500;
    font-size: 30px;
    margin: 25px 10% 25px 0;
    padding: 5px;
}
.perfils__imagem {
    width: 225px;
    height: 175px;
}
.perfils__borda:nth-child(1) .perfils__imagem {
    background: url(../../img/felipe-laskos.jpg) center / cover no-repeat;
}


.texto__principal {
    margin: 0 8px 30px;
}

.sobre__lista {
    margin-left: 25px;
    list-style-type: circle;
}

.separador {
    width: 60%;
    border: none;
    height: 1px;
    background-color: rgb(118, 110, 110); 
}

.separa_topicos {
    display: flex;
    align-items: center;
}

.perfils {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.perfils__borda {
    background-color: #3E3E3E;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}

.fotos {
    padding: 80px 50px;
    background-color: #737373;
    border-radius: 3px;
}

.perfils__texto {
    text-align: center;
}
.nome {
    font-weight: 500;
    font-size: 25px;
}
.profissão {
    font-weight: 400;
    font-size: 20px;
}
.local {
    font-weight: 300;
    font-size: 15px;
}